{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Ylly ninja autotranlator</h1>
                <h2>Languages current : {{ app.request.getLocale() }}</h2>
                <ul>
                    {% for lang in ['en', 'fr', 'it', 'es', 'de'] %}
                        <li><a href="{{ path('homepage', {'_locale': lang }) }}">{{ lang }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <h1>Articles</h1>
                {% for article in articles %}
                    <h2>{{ article.translate(app.request.getLocale()).title }}</h2>
                    <p>{{ article.translate(app.request.getLocale()).content }}</p>
                    <small>{{ article.author }}</small>
                    <hr>
                {% endfor %}
            </div>

            <div class="row">
                <h1>Articles Bis</h1>
                {% for article in articlesBis %}
                    <h2>{{ article.translate(app.request.getLocale()).title }}</h2>
                    <h3>{{ article.translate(app.request.getLocale()).title2 }}</h3>
                    <h4>{{ article.translate(app.request.getLocale()).title3 }}</h4>
                    <h5>{{ article.translate(app.request.getLocale()).title4 }}</h5>
                    <p>{{ article.translate(app.request.getLocale()).content }}</p>
                    <small>{{ article.authorBis }}</small>
                    <hr>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 1200px; width: 95%;}
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .row { width: 45%; margin: 2%; float: left;}
    .clearfix{ content: ""; clear: both; display: table;}
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
